<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Brands</title>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>


<div class="container">
  <div class="col-12">

    <hr>
    <h3 class="text-center">Add To Cart</h3>
    <hr>

    <div class="raw">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">

            <form th:action="@{CART}" method="post" th:object="${cart}">

              <div class="form-group">
                <input type="hidden" id="customer_id" class="form-control" th:field="*{customer_id}"
                       required autofocus="autofocus" />
              </div>

              <div class="form-group" >
                <select hidden class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="product_id"  th:field="*{product_id}">
                  <option th:each="product:${product}" th:value="${product.id}" >
                    [[${product.id}]]
                  </option>
                </select>
              </div>

              <div class="form-group"  >
                <select  hidden class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="product_id"  th:field="*{price}">
                  <a hidden> <option  th:each="product:${product}" th:value="${product.price}" ></a>
                    [[${product.price}]]
                  </option>
                </select>
              </div>


              <div class="form-group">
                <label class="control-label" for="quantity">Quantity</label> <input type="number" min="1"
                                                                                    id="quantity" class="form-control" th:field="*{quantity}"
                                                                                    required autofocus="autofocus" />
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Add To Cart</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>