<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>E-commerce application</title>
  <base href="/">

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="css/style4.css" rel="stylesheet" type="text/css"/>
  <link href="css/card.css" rel="stylesheet" type="text/css"/>
  <link href="font-awesome/css1/all.css" rel="stylesheet" >





  <script defer
          src="http://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
          integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
          crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
  <!-- Sidebar  -->
  <nav th:fragment="sidebar" id="sidebar">
    <div class="sidebar-header">
      <h3>Tech Zone</h3>
      <strong><i class="fa fa-shopping cart" aria-hidden="true" ></i></strong>
    </div>
    <ul class="list-unstyled components" >
      <li class="active"><a href="#homeSubmenu"
                            data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle"> <i class="fas fa-home"></i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg> Home
      </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">My cart</a></li>
          <li><a href="#">My wishlist</a></li>
        </ul></li>
      <li><a href="#"> <i class="fas fa-briefcase"></i> <svg  width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
      </svg> About
      </a> <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle"> <i class="fas fa-copy"></i> <svg  width="16" height="16" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
      </svg> pages
      </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li><a href="#">category</a></li>
          <li><a href="#">products</a></li>
          <li><a href="#">more</a></li>
        </ul></li>
      <li><a href="#"> <i class="fas fa-image"></i> <svg  width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
      </svg> Portfolio
      </a></li>
      <li><a href="#"> <i class="fas fa-question"></i> <svg  width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
        <path d="M3 4.075a.423.423 0 0 0 .43.44H4.9c.247 0 .442-.2.475-.445.159-1.17.962-2.022 2.393-2.022 1.222 0 2.342.611 2.342 2.082 0 1.132-.668 1.652-1.72 2.444-1.2.872-2.15 1.89-2.082 3.542l.005.386c.003.244.202.44.446.44h1.445c.247 0 .446-.2.446-.446v-.188c0-1.278.487-1.652 1.8-2.647 1.086-.826 2.217-1.743 2.217-3.667C12.667 1.301 10.393 0 7.903 0 5.645 0 3.17 1.053 3.001 4.075zm2.776 10.273c0 .95.758 1.652 1.8 1.652 1.085 0 1.832-.702 1.832-1.652 0-.985-.747-1.675-1.833-1.675-1.04 0-1.799.69-1.799 1.675z"/>
      </svg> FAQ
      </a></li>
      <li><a href="#"> <i class="fas fa-paper-plane"></i> <svg  width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
      </svg> Contact
      </a></li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div id="insert"></div>



    <nav th:fragment="sidebar" class="navbar navbar-expand-lg navbar-light" style="border-bottom:4px solid #7386D5; ">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse"
                class="btn btn-info mr-4">
          <i class="fas fa-align-left"></i> <span> Toggle Sidebar</span>

        </button>
        <form class="form-inline frm">
          <input class="form-control mr-sm-2" type="search" placeholder="Search"
                 aria-label="Search" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <button class="btn btn-light d-inline-block d-lg-none ml-auto"
                type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item "><a class="nav-link fl1" href="#"><i class="fas fa-cart-plus" title="view cart"
                                                                      style="color: red;font-size: 20px"></i><span class="label">10</span> </a></li>




          </ul>
        </div>
      </div>
    </nav>
    <div class="line"></div>

    <div class="container">
      <div class="col-12">

        <hr>
        <h3 class="text-center">Update Brand</h3>
        <hr>

        <div class="raw">
          <div class="col-md-6 mx-auto">

            <form  th:each="product :${product}" th:action="@{/updateProduct/{id}(id=${product.id})}" method="post" th:object="${product}" >
            <div class="form-group">
                <label class="control-label" for="name"> Name </label>
                <input id="name" class="form-control" th:field="*{name}"
                       required autofocus="autofocus" />
              </div>

              <div class="form-group">
                <label class="control-label" for="description">Description</label> <input
                      id="description" class="form-control" th:field="*{description}"
                      required autofocus="autofocus" />
              </div>
              <div class="form-group">
                <label class="control-label" for="model">Description</label> <input
                      id="model" class="form-control" th:field="*{model}"
                      required autofocus="autofocus" />
              </div>

              <div class="form-group">
                <label class="control-label" for="price">price</label> <input type="number"
                                                                              id="price" class="form-control" th:field="*{price}"
                                                                              required autofocus="autofocus" />
              </div>

              <div class="form-group">
                <label for="model">Category</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category_id"  th:field="*{category_id}">
                  <option th:each="category:${category}" th:value="${category.id}" >
                    [[${category.name}]]
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="model">Brand</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="brand_id"  th:field="*{brand_id}">
                  <option th:each="brand:${brand}" th:value="${brand.id}" >
                    [[${brand.name}]]
                  </option>
                </select>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </form>
            <hr>
          </div>
        </div>

      </div>
    </div>







    <div class="line"></div>
  </div>
</div>
<!-- Bootstrap JS & jQuery -->

<!-- Popper.JS -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="api/ajaxFetch.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').toggleClass('active');
    });
  });
</script>

</body>
</html>





















